.home {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 800px;
}
#homeimage1 {
  height: 600px;
  animation-name: image;
  animation-duration: 2.5s;
}
#homeimage2 {
  height: 600px;
  animation-name: image;
  animation-duration: 2.5s;
}

@keyframes image {
  from {
    transform: scale(0.75);
    opacity: 0%;
  }
  to {
    transform: scale(1);
    opacity: 100%;
  }
}
